/* #root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
} */

.card.Heading{
  animation: ease-in;
  padding: 2rem;
  margin: auto;
  background-color: transparent;
  border: 1px solid black;
  perspective: 1000px;
  width: 30%;

}

.card.Heading:hover {
  transform: translate3d(0,-.125rem,0);
  box-shadow: 10px 5px 5px grey;
}

.read-the-docs {
  color: #888;
}

.row.justify-content-center {
  display: flex;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
}

#techStack:hover {
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
} 

#techStack img:hover {
  transform: translate3d(0, -.125rem, 0);

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
